/* .Nav__Container{
  height: 90px;
  border: 1px solid black;
  font-family: GT-Sectra-Book, serif;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

.Nav__Container{
  display: flex;
  justify-content: space-between;
  margin: 0 90px;
}

.logo{
  display: inline-block;
  margin: 30px 0px 25px 0px;
  letter-spacing: 8px;
  font-weight: 700;
}

.list-container{
  display: flex;
  font-size: 11.5px;
  color: #777777;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Josefin Sans', serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.nav-links{

}

.header__link{
  font-family: Plain, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 5.71;
  letter-spacing: normal;
  text-transform: capitalize;
  color: black;
  margin-right: 0px;
  text-decoration: none;
}

.logo{
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-family: 'Josefin Sans', serif;
  font-weight: 700;
  display: inline-block;
  margin: 30px 0px 25px 0px;
  letter-spacing: 8px;
}

.navbar__link--one{
  order: 1;
  font-size: 25px;
}

.navbar__link--two{
  order: 2;
}

.navbar__link--three{
  order: 3;
}

.navbar__link--four{
  order: 4;
}