.ui .segment{
  font-family: Plain, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 5.71;
  letter-spacing: normal;
  text-transform: uppercase;
  color: black;
  margin-right: 0px;
  text-decoration: none;
}
